:root {
  --White: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  font-family: "Outfit";
  background-color: var(--Slate-300);
}

main {
  width: 320px;
  height: 499px;
  border-radius: 20px;
  padding: 16px;
  padding-bottom: 40px;
  background-color: var(--White);
  color: var(--Slate-900);
}

img{
    width: 100%;
    border-radius: 10px;
}

h1{
    font-size: 22px;
    line-height: 120%;
    height: 52px;
    letter-spacing: 0px;
    margin-bottom: 16px;
}

p{
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: var(--Slate-500);
}

section{
    padding: 0 16px;
    margin-top: 24px;
    text-align: center;
}